@import url('http://fonts.cdnfonts.com/css/heaters');

/*--------------------
  ---TABEL OF CONTENT----
  -----PAGES--------
 1. HOME PAGE DESIGN
 2. SEO PAGE STYLE
 3. WEB DESIGN PAGE
 4. LOGO DESIGN PAGE
*/
/* Normalizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E0E0F;
    color: #fff;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
}

.section-p{
    max-width: 480px;
}
a:hover {
    text-decoration: none;
}


/* SIDEBAR */
.sidebar {
    position: fixed;
    left: -40px;
    top: 35%;
    z-index: 9999;
    display: flex;
    transition: all ease .5s;
}
.design-icon{
    font-size: 25px;
    margin-left: 0px;
    cursor: pointer;
    background-color: #FFFF00;
    color: black;
    padding: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 15px;
    box-shadow: #ffff004d 0px 22px 70px 4px;
}

.moveRight{
  margin-left: 8px
}

.design-icon-wrapper {
    display: flex;
    flex-direction: column;
}

.disabled {
    color: rgb(49, 49, 49) !important;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent !important;
}

.side-bar-list {
    list-style-type: none;
    background-color: #FFFF00;
    padding: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: #ffff004d 0px 22px 70px 4px;

}

.sidebar ul li a {
    font-size: 2rem;
    color: black;
   font-weight: 900;
   font-family: 'Lemon/Milk light Regular';
}


.sidebar ul li{
    transition: all ease-in-out 0.3s;
}
.sidebar ul li:hover {
    transform: scale(1.5);
}
.section-spacer{
 height: 120px;
}

/*Sidebar*/
    .mobile-sidebar-container{
        position: fixed;
        top: 250px;
        left: 0px;
        z-index: 22;
        display: flex;
        padding: 8px;
        transition: ease-in-out 0.5s all;
    }
     .moveRight {
         left: -10px;
     }

    .list-wrapper > ul {
        list-style: none;
    }
    .list-wrapper > ul > li > a {
        color: white;
        font-size: 28px;
        padding: 10px;
        font-family: var(--teko-font);
    }
    .desing-icon i{
        background-color: var(--site-black);
        font-size: 32px;
        padding: 8px;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top:15px;
    }

    .list-wrapper {
        padding-top: 15px;
        background-color: var(--site-black);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;

    }
/* ANIMATIONS AND FLAUTINGS */
/* FLOAT
---------- */
.labtop-float {
	overflow: hidden;
	transform: translatey(0px);
	animation: float1 3s ease-in-out infinite;
}

@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* float 2 */
.labtop-screen {
	overflow: hidden;
	transform: translatey(0px);
	animation: float2 3s ease-in-out infinite;
}

@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* float 3 */
.floating-ball {
	overflow: hidden;
	transform: translatey(0px);
	animation: float3 3s ease-in-out infinite;
}

@keyframes float3 {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(20px);
	}
	100% {
		transform: translatex(0px);
	}
}

/* float4 */
.floating-left-right {
	overflow: hidden;
	transform: translatex(0px);
	animation: float4 5s ease-in-out infinite;
}

@keyframes float4 {
	0% {
		transform: translatex(30px);
	}
	50% {
		transform: translatex(-30px);
	}
	100% {
		transform: translatex(30px);
	}
}

.floating-left-right-mob {
	overflow: hidden;
	transform: translatex(0px);
	animation: float4 6s ease-in-out infinite;
}

@keyframes float4 {
	0% {
		transform: translatey(20px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(20px);
	}
}

/* rotate float */
/* float 3 */
.rotating-ball {
	overflow: hidden;
	transform: translatey(0px);
	animation: rotateFloat 3s ease-in-out infinite;
}

@keyframes rotateFloat {
	0% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(30deg);
	}
}

    /* HOME PAGE DESIGN
--------------------------*/
    .homepage-hero-wrapper{
        background-position: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        align-items: center;
        justify-items: center;
        position: relative;
        z-index: 999;
        transition: ease-in-out .5s;
        padding-bottom: 150px;
    }
    .homepage-middle-title{
        display: flex;
        flex-direction: column;
        color: #07BDF0;
        font-size: 18em;
        font-family: 'Heaters';
        line-height: 0.5;
        padding-left: 170px;
        margin-top: 200px;
        text-align: center;
    }

    .can-img{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: -100px;
    }
    .can-splash{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 195px;
        margin-right: 220px;
    }
    .homepage-first-title{
      position: absolute;
      left: 0;
      bottom: 50%;
      margin-bottom: -210px;
      color:#EE1E53;
      font-size: 15rem;
      font-family: 'Lemon/Milk light Regular';
      z-index: 0;
    }

    .homepage-hero-inner{
        overflow: hidden;
    }

    .homepage-third-title{
        position: absolute;
        right: 0;
        bottom: 50%;
        margin-bottom: -210px;
        color:#EE1E53;
        font-size: 15rem;
        font-family: 'Lemon/Milk light Regular';
        z-index: 0;
      }

    .second-title-wrapper{
        z-index: inherit;
    }

    /* HOME PAGE FLOATING IMAGES ABSLUTE CLASSES STYLES
    ----------------------------------------------------*/
    .homepage-banner-labtop{
        position: absolute;
        top: 0;
        margin-top: 112px;
    }

    .homepage-banner-labtopscreen {
        position: absolute;
        top: 0;
        margin-top: 112px;
    }

    /* .homepage-hero-wrapper:hover {
        transform: scale(0.5) translate(-1%);
    } */
    .homepage-banner-ball{
        position: absolute;
        top:0;
        left: 0;
        margin-left: 500px;
        margin-top: 50px;
    }

    .img-banana{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 350px;
        margin-bottom: -112px;
    }
     /* HOME PAGE SHOWCASE
     -------------------- */
    .homepage-showcase-wrapper{
      max-width: 85px;
      margin: 100px auto auto auto;
      display: grid;
      align-items: center;
      justify-content: center;
      padding-top: 100PX;
      z-index: 0;
    }

    .homepage-showcase-title-wrapper{
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 35px auto;
    }
    .homepage-showcase-title-wrapper > h1:nth-of-type(1){
        font-family: 'Syne', sans-serif;
        text-transform: capitalize;
        font-size: 3rem;
        text-align: center;
    }

    .homepage-showcase-title-wrapper > h2:nth-of-type(1){
        text-align: center;
        font-family: 'Akira Expanded', sans-serif;
        color: black;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #6CFF6C;
      font-size: 4rem;
    }

    .homepage-showcase-image-wrapper{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        justify-items: center;
        align-items: center;
    }

    .icon-wrapper {
        padding: auto 50px;
    }

    .homepage-desc-wrapper{
        max-width: 850px;
        margin: auto;
        padding-bottom: 50px;
    }

    .homepage-desc-wrapper > p {
        text-align: center;
    }

    .showcase-form{
        text-align: center;
        max-width: 487px;
        margin: auto;
        height: 62px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        }

    .num-field{
        height: 100%;
        background-color: transparent;
        border: 2px solid #07BDF0;
        color: white;
        padding-left: 15px;
        font-family: 'Syne', sans-serif;
        outline: 0;
    }
    .showcase-form > button {
         height: 100%;
         background-color: #07BDF0;
         border:0;
         font-size: 18px;
         font-weight: bold;
         font-family: 'Barlow' sans-serif;
    }

    .num-field-red{
        background-color: transparent;
        border: 2px solid #EE1E53;
        color: white;
        padding-left: 15px;
        font-family: 'Syne', sans-serif;
        outline: 0;
    }

    /* .num-field:focus{
        border: none;
        outline: 2px solid #07BDF0;
        height: 56px !important;
        width: 75%;
    } */


    /* HOMEPAGE SEO SECTION
    ------------------------ */
    .homepage-seo-wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        align-items: center;

        max-width: 90%;
        margin: auto;
    }

    .homepage-seo-image-wrapper {
        position: relative;
    }


    .homepage-seo-content-wrapper > h2:nth-of-type(1){
        color: #07BDF0;
        font-family: 'syne', sans-serif;
        font-weight: bold;
        font-size: 55px;
        text-transform: uppercase;
        line-height: 0.9
    }

    .homepage-seo-content-wrapper > h2:nth-of-type(2){
        font-family: 'Akira Expanded', sans-serif;
        color: #0F0F0F;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #fff;
        font-size: 4.5rem;
    }

    .homepage-seo-content-wrapper > h2:nth-of-type(3){
        font-family: 'syne';
        color: #EE1E53;
        font-size: 20px;
        text-transform: capitalize;
    }

    .homepage-seo-content-wrapper > p:nth-of-type(1){
        font-family: 'Barlow';

    }

    .learn-more-btn{
        width: 150px;
        height: 150px;
        background-color: #07BDF0;
        border: none;
        font-family: 'Barlow';
       font-size: 20px;
       font-weight: bold;
    }



       .homepage-seo-image-wrapper > img:nth-of-type(2){
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -400px;
    }


    /* HOMEPAGE DESIGN SECTION
    ------------------------ */
    .homepage-design-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 85%;
        margin:auto;
        align-items: center;
    }



    .homepage-design-content-wrapper > h2:nth-of-type(1){
        font-family: 'syne', sans-serif;
        font-size: 32px;
    }

    .homepage-design-content-wrapper > h2:nth-of-type(2){
        font-family: 'syne', sans-serif;
        text-transform: uppercase;
        color: #6CFF6C;
        font-size: 4rem;
        font-family: 700;
    }

    .homepage-design-content-wrapper > h2:nth-of-type(3){
        font-family: 'syne' sans-serif;
        color: #EE1E53;
        font-size: 20px;
        text-transform: capitalize;
    }

    .homepage-design-content-wrapper > p:nth-of-type(1){
        font-family: 'Barlow';

    }

    .design-learn-more-btn{
        width: 150px;
        height: 150px;
        background-color: #6CFF6C;
        border: none;
        font-family: 'Barlow';
       font-size: 20px;
       font-weight: bold;
    }

    .homepage-design-image-wrapper {
        position: relative;
        overflow: hidden;
    }
    .mobile-rocket {
       max-width: 65%;
    }

    .bell-seo{
        position: absolute;
        right: 0;
    }
    /* HOMEPAGE SECTION 3
    ----------------------*/
    .homepage-sec3-wrapper{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        max-width: 90%;
        margin: auto;
        justify-self: center;
        align-items: center;
        grid-gap: 50px;
    }

    /* .homepage-sec3-content-wrapper{

    } */

    .homepage-sec3-content-wrapper > h2:nth-of-type(1){
        color: #EE1E53;
        font-family: 'Akira Expanded', sans-serif;
        font-size: 55px;
    }

    .homepage-sec3-content-wrapper > h2:nth-of-type(2){
        font-family: 'Akira Expanded', sans-serif;
        color: #0E0E0F;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #fff;
        font-size: 4rem;
    }

    .homepage-sec3-content-wrapper > h2:nth-of-type(3){
        font-family: 'syne';
        color: #EE1E53;
        font-size: 25px;
        text-transform: capitalize;
    }

    .homepage-sec3-content-wrapper > p:nth-of-type(1){
        font-family: 'Barlow';

    }

    .sec3-learn-more-btn{
        width: 150px;
        height: 85px;
        background-color: #EE1E53;
        border: none;
        font-family: 'Barlow';
       font-size: 20px;
       font-weight: bold;
      }

      .homepage-sec3-image-wrapper{
          position: relative;
    }

     .homepage-sec3-image-wrapper > img:nth-of-type(1){
         max-width: 100%;
       }
       .homepage-sec3-image-wrapper > img:nth-of-type(2){
           position: absolute;
           left: 0;
           bottom: 0;
         }


    /* HOMEPAGE SECTION 4
    ------------------------ */
    .homepage-sec4-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 85%;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding-top: 90px;
        padding-bottom: 185px;
    }

    .homepage-sec4-content-wrapper{
    }

    .homepage-sec4-content-wrapper > h2:nth-of-type(1){
        font-family: 'syne', sans-serif;
        font-size: 32px;
        color: #FFFF00
    }

    .homepage-sec4-content-wrapper > h2:nth-of-type(2){
        font-family: 'Akira Expanded', sans-serif;
        color: black;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #fff;
        font-size: 4rem;
    }

    .homepage-sec4-content-wrapper > h2:nth-of-type(3){
        font-family: 'syne' sans-serif;
        color: #EE1E53;
        font-size: 20px;
        text-transform: capitalize;
        color: #FFFF00;
    }

    .homepage-sec4-content-wrapper > p:nth-of-type(1){
        font-family: 'Barlow';
    }

    .sec4-learn-more-btn{
        width: 150px;
        height: 85px;
        background-color: #FFFF00;
        border: none;
        font-family: 'Barlow';
       font-size: 20px;
       font-weight: bold;
    }


    .homepage-sec4-image-wrapper {
        position: relative;
    }
     .homepage-sec4-image-wrapper > img:nth-of-type(1){
          max-width: 100%;
       }
       .homepage-sec4-image-wrapper > img:nth-of-type(2){
           position: absolute;
           right: 0;
           top: 0;
           margin-right: 150px;
           margin-top: 100px;
        }
    /* WHY US AND TESTIMO SECTION */

    .homepage-why-as-testimo-section-wrapper{
      position: relative;
      background-color: #0F0F0F;
    }

    .whyus-wrapper{
        max-width: 75%;
        margin: auto;
    }
    .whyus-wrapper > h1{
        font-family: Barlow, sans-serif;
        font-size: 5em;
        color: black;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #fff;
    }

    .whyus-wrapper > p{
        font-family: Barlow, sans-serif;
        font-size: 3em;
    }

    .whyus-wrapper > p > span {
      color: #6CFF6C;
      text-shadow: #6CFF6C 30px 0 50px;
      font-family: bold;

    }
    .moon-bg{
       height: 1000px;
       position: absolute;
       right: 0;
       top: 0;
    }

    .testimo-outer-wrapper{
        width: 100%;
        /* background: rgb(61, 61, 61);
        opacity: 0.1; */
    }

    .testimo-inner-wrapper{
        max-width: 65%;
        margin: 150px auto;
        text-align: center;
        height: 450px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: black;
        box-shadow: rgba(7, 189, 240, 0.56) 5px 8px 70px 4px;
        padding:  145px  ;
    }

    /* BORDERS */
    /* LEFT BORDERS */
    .left-top{
        position: absolute;
        height: 180px;
        width: 180px;
        border-top: 7px groove #07BDF0;
        border-left: 7px groove #07BDF0;
        left: 0;
        top:0;
    }

    .left-bottom{
        position: absolute;
        height: 180px;
        width: 180px;
        border-bottom: 7px groove #07BDF0;
        border-left: 7px groove #07BDF0;
        left: 0;
        bottom:0;
    }
    /* RIGHT BORDERS */

    .right-top{
        position: absolute;
        height: 180px;
        width: 180px;
        border-top: 7px groove #07BDF0;
        border-right: 7px groove #07BDF0;
        right: 0;
        top:0;
    }

    .right-bottom{
        position: absolute;
        height: 180px;
        width: 180px;
        border-bottom: 7px groove #07BDF0;
        border-right: 7px groove #07BDF0;
        right: 0;
        bottom:0;
    }


    /* HOMEPAGE CONTACT SECTION STYLE
    --------------------------------- */

    .contact-section-outer-wrapper{
        background-color: #000;
        position: relative;
        max-height: 1351px;
    }

    .contact-section-outer-wrapper > img {
        position: absolute;
        top: 0;
        z-index: 0;
         left: 0;
         height: 100%;
    }
    .contact-section-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 85%;
        margin: auto;
        height: 1200px;
        z-index: 999;
        align-content: center;
    }
    .form-wrapper > div {
        max-width: 515px;
        margin: auto;
        padding-bottom: 25px;
    }

    .form-wrapper {
        z-index: inherit;
    }
    .form-wrapper > div > h2 {
        color: #EE1E53;
        font-family: syne;
        font-size: 68px;
        text-transform: uppercase;
    }

    .form-wrapper > div > h5 {
        color: #EE1E53;
        font-family: syne;
        font-size: 20px;
        text-transform: uppercase;
    }
    .form-wrapper > form {
        max-width: 515px;
        margin: auto;
        display: grid;
        grid-gap: 55px;
    }

    .form-wrapper > form > input{
        background-color: transparent;
        color: #fff;
        font-size: 32px;
        font-family: 'Barlow', sans-serif;
        outline: 0;
        border-bottom: 2px white solid;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .form-wrapper > form > textarea{
        outline: 0;
        border-bottom: 2px white solid;
        background-color: transparent;
        color: #fff;
        font-size: 32px;
        font-family: 'Barlow', sans-serif;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .form-wrapper > form > button{
        font-size: 20px;
        background-color: #fff;
        height: 80px;
        width: 250px;
        border-radius: 5px;
        border: 0;
    }

    .contact-details-wrapper > div{
        margin-top: 155px;
    }
    .contact-details-wrapper{
        z-index: inherit;
    }
    .contact-details-wrapper > div > p {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 35px;
    }

    .contact-details-wrapper > div > p > img {
        width: 36px;
    }

    /* HOMEPAGE SERVICE SECTION */

    .home-page-services-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 45px;
        max-width: 90%;
        margin: auto;
    }


    .service-sectoion-title  {
        color: #6CFF6C;
        font-family: 'Syne', sans-serif;
        font-size: 2em;
    }

    .service-sectoion-list-wrapper > ul {
        list-style: none;
    }

    .service-sectoion-list-wrapper > ul > li{
        padding-top: 15px;
    }

    .service-sectoion-list-wrapper > ul > li > a {
        color: #fff;
        font-family: 'Barlow', sans-serif;
        font-size: 2em;
    }

    .service-sectoion-list-wrapper > ul > li > a:hover {
        text-decoration: none;
    }

    /* HOMEPAE ABOUT SECTION */
    .about-outer{
        width: 100%;
        position: relative;
        margin-bottom: 280px;
    }
    .homepage-about-section-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        align-items: center;
        max-width: 85%;
        margin: auto;
        height: 700px;
    }

    .about-outer > img {
        position: absolute;
        right: 0;
        top: 0;
        max-height: 1150px;
        margin-top: -120px;
    }

    .homepage-about-section-wrapper h2{
        margin-top: 50px;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        font-size: 4em;
    }

    .homepage-about-section-wrapper h4 a{
        color: #fff;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5em;
    }

    /* SHARED SECTIONS */

    .process-wrapper{
        display: grid;
        grid-template-columns: 85%;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
    }

    .process-title-wrapper{
        text-align: center;
    }

    .process-grid-wrapper{
        display: grid;
        grid-template-columns: 1fr 2.5fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .process-grid-inner{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .space-right{
        height: 100px;
    }
    .inner-content > span {
        color: #07BDF0;
        font-size: 35px;
        margin-right: 15px;
    }
    .inner-content > p {
     display: inline;
     font-size: 20px;
    }
    .process-grid-inner {
        margin-bottom: 50px;
    }
    .process-title-wrapper > h2 {
        color: #07BDF0;
        font-size: 6rem;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        line-height: 0.5;
    }

    .process-title-wrapper > h3 {
        color: black;
        font-size: 9rem;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #fff;
        text-transform: uppercase;
    }


    .process-title-wrapper > h5 {
      color:#EE1E53;
      text-transform: uppercase;
      font-size: 2rem;
    }
    /* .inner-content > img {
        position: absolute;
        top:0;
        left:0;
        margin-left:500px;
       } */

    .inner-content{
        position: relative;
    }
    /* SEO PAGE STYLE
    ------------------------------ */

     /* SEO BANNER */

     .seo-page-banner-container {
      background-image: url('../images/seo page banner image.png');
      background-position: center;
      background-size: cover;
     }

    .seo-inner-wrapper {
      max-width: 85%;
      height: 95vh;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
    }

    .seo-page-banner-inner > h1 {
      display: flex;
      flex-direction: column;
      font-family: 'Syne', sans-serif;
      text-transform: uppercase;
    }

    .seo-page-banner-inner > h1 > span:nth-child(1) {
      font-size: 45px;
      color: white;
    }
    .seo-page-banner-inner > h1 > span:nth-child(2) {
      font-size: 89px;
      color: #07BDF0;
      font-weight: 900;
    }
    .seo-page-banner-inner > h1 > span:nth-child(3) {
      font-size: 89px;
      font-weight: 900;
    }

    .seo-page-banner-inner > p {
      max-width: 550px;
    }
    /* SEO PAGE SECTION 2 */

    .seo-page-section-2-wrapper{
        max-width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 90px auto;
        align-items: center;
        justify-content: center;
        grid-gap: 100px;
    }


    .seo-page-sec2-img-wrapper{
        position: relative;
    }


    .seo-page-sec2-content-wrapper{
        padding-left: 55px;
    }
    .seo-page-sec2-content-wrapper > h4 {
        font-size: 2em;
        text-transform: uppercase;
        font-family: 'Syne', sans-serif;
    }

    .seo-page-sec2-content-wrapper > h2 {
        display: flex;
        flex-direction: column;
        color: #07BDF0;
        font-size: 4em;
        font-family: 'Syne', sans-serif;
    }

    .seo-page-sec2-content-wrapper > p {
        max-width: 450px;
    }


    /*  SEO PAGE SECTION 3 OR CTA SECTION STYLE
    -------------------------------------------- */

    .seo-page-sec3-wrapper{
        padding-top: 25px;
        max-width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

       .seo-page-sec3-wrapper img {
         width: 100%
       }
       .icon-box-wrapper {
         margin-top: 75px;
         text-align: center;
       }
       /* ICON BOX */
       .icon-box-wrapper > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
        justify-content: center;
        align-items: center;
        max-width: 55%;
        margin: auto;
       }

       .icon-box {
         border: 1px #EE1E53 solid;
         height: 420px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
       }

       .icon-box > h3 {
         margin: 25px 50px;
         font-weight: 800;
         color:#EE1E53;
         font-family: 'Barlow' sans-serif;
         text-transform: uppercase;
       }
       .icon-box > img {
         width: 87px;
       }

       .icon-box-middle{
         height: 500px
       }
        .icon-box-wrapper > h2 {
        font-size: 60px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-family: 900;
        }
       /* end of icon box */
    .seo-page-sec3-content-wrapper > h2 {
        font-family: 'Syne', sans-serif;
        font-size: 3em;
        text-transform: uppercase;
    }

    .seo-page-sec3-content-wrapper > h3 {
    font-family: 'Akira Expanded', sans-serif;
    color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #07BDF0;
    font-size: 4rem;
    }

    .sec3-form{
      display: grid;
      grid-template-columns: 3fr 1fr;
      height: 65px;
      width: 450px;
    }

    .cta-btn-blue {
        padding-bottom: 8px;
        padding-top: 5px;
        background-color: #07BDF0;
        border: 2px solid #07BDF0;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Barlow' sans-serif;
    }

    .cta-btn-red {
        background-color: #EE1E53;
        border: 2px solid #EE1E53;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Barlow' sans-serif;
    }

    /*      SEO PAGE SECTION 4
    OTHER STYLES COPIED FROM SECTION 2
    ------------------------------------*/
    .seo-page-sec4-wrapper{
        max-width: 85%;
        margin: 175px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }
    .seo-page-sec4-content-wrapper > h4 {
        font-size: 2em;
        text-transform: uppercase;
        font-family: 'Syne', sans-serif;
    }

    .seo-page-sec4-content-wrapper > h2 {
        display: flex;
        flex-direction: column;
        color: #07BDF0;
        font-size: 3vw;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
    }

    .seo-page-sec4-content-wrapper > p {
        max-width: 450px;
    }

    .seo-page-sec4-img-wrapper{
        max-width: 650px;
    }
/* WEB DESIGN PAGE TOOLS SECTIIN */



.web-design-page-tools-container > div{
    max-width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

}

.webdesign-page-tools-image-container > img {
    min-width: 65%;
}

.webdesign-page-tools-content-container > p {
    max-width: 450px;
}

.webdesign-page-tools-content-container > h2 {
    display: flex;
    flex-direction: column;
    color: #EE1E53;
    font-family: 'Syne', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

/* webdesign page showcase form */
.showcase-form-webdesign{
    width: 750px;
}

/* call title */
.webdesign-call-section-title1 {
    font-family: 'Akira Expanded', sans-serif;
    color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #EE1E53;
    font-size: 4rem;
}
.webdesign-call-section-title2 {
    font-family: 'Akira Expanded', sans-serif;
    color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #EE1E53 !important;
    font-size: 4rem;
}
    /* -------------------
SEO PAGE SECTION 4 OR TOOLS SECTION
--------------------- */
.seo-tools-wrapper{
    max-width: 80%;
    margin: 95px auto;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-column-gap: 100px;
    align-items: center;
}

.seo-tools-content-wrapper > h2 {
    display: grid;
    grid-template-columns: 1fr;
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
    font-size: 7rem;
    line-height: 0.8;
}
.seo-tools-content-wrapper > h2 > span:nth-child(1){
    font-size: 2rem;
}

.seo-tools-content-wrapper > h2 > span:nth-child(2){
    color: #07BDF0;
}

.seo-tools-content-wrapper > h2 > span:nth-child(3){
    color: #07BDF0;
}
    /*----------------
     WEB DESIGN PAGE
    ---------------- */

    .seo1-banner-wrapper{
        max-width: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: auto;
        align-items: center;
    }

    .seo1-banner-wrapper > div:nth-of-type(2){
        display: grid;
        justify-content: end;
    }

    /* seo1 banner content title style */
    .seo1-banner-wrapper > div:nth-of-type(1) > h1{
        line-height: 0.9;
        text-transform: uppercase;
        display: grid;
        position: relative;
    }
    .seo1-banner-wrapper > div:nth-of-type(1) > p{
       font-size: 20px;
       margin-top: 150px;
    }
    .seo1-banner-wrapper > div:nth-of-type(1) > h1 > span:nth-of-type(1){
        font-size: 2em;
        font-family: 'Syne', sans-serif;
    }
    .seo1-banner-wrapper > div:nth-of-type(1) > h1 > span:nth-of-type(2){
        color: #EE1E53;
        font-size: 3em;
    }
    .seo1-banner-wrapper > div:nth-of-type(1) > h1 > span:nth-of-type(3){
        margin-top: 10px;
        background: rgb(164, 21, 57);
        color: black;
        font-size: 3em;
       position:absolute;
       bottom: 0;
       left: 0;
       margin-bottom: -140px;
       margin-left: -200px;
       padding-bottom: 15px;
       width: 90%;
       padding-left: 200px;
    }

    /*  promotion-container */
    .promotion-container {
        max-width: 65%;
        margin: auto;
        text-align: center;
        color: #fff;
        background-color:#EE1E53;
        padding: 75px;
        position: relative;
        z-index: 4;
    }

    .white-line {
        height: 17px;
        width: 70%;
        background-color: #fff;
        position: absolute;
        bottom: -7px;

    }
    .promotion-container > div {
        max-width: 85%;
        margin: auto;
    }

    .promotion-container h3 {
        display: flex;
        flex-direction: column;
    }
    .promotion-container h3 > span:nth-child(1){
        font-size: 28px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
    }

    .promotion-container h3 > span:nth-child(2){
        font-size: 60px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
    }
    .promotion-container p {
        font-family: 'Barlow', sans-serif;
        max-width: 80%;
        margin: auto;
    }
/* SEO 1 SECTOIN 2 */

.seo1-section2-wrapper {
   max-width: 85%;
   margin: 95px auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   align-items: center;
   grid-column-gap: 95px;
   /* border: 1px solid white; */
}

.webdesign-sect2-title {
    display: grid;
    grid-template-columns: 1fr;
    text-transform: uppercase;
    color: #EE1E53;
    font-size: 3vw;
    font-family: 'Syne', sans-serif;
    font-weight: 900;
}

.seo1-section2-wrapper > div:nth-child(2) > h2 > span:nth-child(1){
    color: #fff;
    font-size: 32px;
}

/* .seo1-page-sec3-content-wrapper > h3 {
    font-family: 'Akira Expanded', sans-serif;
    color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #EE1E53;
    font-size: 4rem;
    } */


    /* LOGO DESIGN PAGE  */

    .logo-design-page-banner-wrapper {
        height: auto;
        text-align: center;
    }

    .logo-design-page-banner-content-wrapper{
        max-width: 750px;
        padding: 150px 25px 25px 25px;
        margin: auto;
    }

    .logo-design-banner-image-wrapper > img {
        width: 100%;
    }

    .logo-design-page-title{
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo-design-page-title > span:nth-child(1) {
        font-size: 25px;
      
    }

    .logo-design-page-title > span:nth-child(2) {
        color: #FFFF00;
        font-family: 'Syne', sans-serif;
        font-family: 73px;
        text-transform: uppercase;
        font-weight: 900;
    }
    .logo-design-page-title > span:nth-child(3) {
        color: #FFFF00;
        font-family: 'Syne', sans-serif;
        font-family: 89px;
        text-transform: uppercase;
        font-weight: 900;
    }

    /* LOGO DESIGN PAGE SECTION 1 */


    .promotion-container-logodesign {
        max-width: 65%;
        margin: auto;
        text-align: center;
        color: #fff;
        background-color:#FFFF00;
        padding: 75px;
        position: relative;
        z-index: 4;
    }

    .promotion-container-logodesign  h3 {
        color: black
    }

    .promotion-container-logodesign  p {
        color: black
    }

    .logo-design-section1-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 55px;
        max-width: 90%;
        margin: auto;
        justify-items: center;
        align-items: center;
    }

    .logo-design-section1-content-wrapper > h2:nth-child(1) {
        text-transform: uppercase;
        font-size: 39px;
        font-family: 'syne', sans-serif;
    }

    .logo-design-section1-title {
        color: #FFFF00;
        display: grid;
        grid-template-columns: 1fr;
        text-transform: uppercase;
        font-size: 89px;
        font-family: 'syne', sans-serif;

    }
    .logo-design-section1-content-wrapper  p {
        max-width: 550px;
    }

    .logo-design-section1-image-wrapper > img {
        max-width: 100%;
    }

    /* LOGO DESIGN PAGE SECTION 2 */

    .logo-design-page-section2-wrapper{
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .logo-design-page-secion2-image-wrapper > img {
      width: 100%;
    }



    .logo-design-page-secion2-content-wrapper > h2:nth-child(1){
       font-size: 68px;
       text-transform: uppercase;
       font-family: 'syne', sans-serif;
    }

    .logo-design-page-secion2-content-wrapper > h2:nth-child(2){
        font-size: 68px;
        text-transform: uppercase;
        font-family: 'Akira Expanded', sans-serif;
        color: black;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color:#FFFF00
     }
     .logo-design-page-form {
         display: grid;
         grid-template-columns: 3fr 1fr;
         height: 62px;
       }

       .logo-design-page-form > input {
           background-color: transparent;
           outline: 0;
           border: 3px #FFFF00 solid;
           color: white;
           padding-left: 15px;
       }
       .logo-design-page-form > button {
           border-color: #FFFF00;
           background-color: #FFFF00;
           color: black;
           cursor: pointer;
       }

       /* LOGO DESIGN ICON BOX YELLO ICON BOX */

       .icon-box-yellow {
        border: 1px #FFFF00 solid;
      }

      .icon-box-yellow > h3 {
        color:#FFFF00;
      }

      #logo-design-tools-title > span:nth-child(2) {
          color:#FFFF00;
      }
      #logo-design-tools-title > span:nth-child(3) {
        color:#FFFF00;
    }


    /* App Development page */

    .app-dev-banner-wrapper {
        background: #000 url('../images/appdev.jpg');
        height: 85vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        padding-top: 150px;
    }

    .app-dev-banner-wrapper > h1 {
        display: flex;
        flex-direction: column;
        color: #6CFF6C;
        font-size: 5vw;
        font-family: 'syne', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
    }

    .app-dev-banner-wrapper > h1 > span:nth-child(1) {
        color: #fff;
        font-size: 26px;
    }
    .app-dev-banner-wrapper > h1 > span:nth-child(3) {
        font-size: 5vw;
    }


    .promotion-container-appdesign {
        max-width: 65%;
        margin: auto;
        text-align: center;
        color: #fff;
        background-color:#6CFF6C;
        padding: 75px;
        position: relative;
        z-index: 4;
    }

    .promotion-container-appdesign  h3 {
        color: black
    }

    .promotion-container-appdesign  p {
        color: black
    }

    /* app dev section 3 */

    .appdev-section3-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        max-width: 85%;
        margin: 145px auto;
    }

    .appdev-section2-content-wrapper > p {
        max-width: 550px;
    }
    .appdev-section2-content-wrapper > h2 {
        display: flex;
        flex-direction: column;
        font-family: 'syne', sans-serif;
        text-transform: uppercase;
        font-weight: 900;     
        color:#6CFF6C; 
        font-size: 5vw;  
    } 

    .appdev-section2-content-wrapper > h2 > span:nth-child(1) {
     color: #fff;
     font-size: 26px;
    }
    .appdev-section2-image-wrapper > img {
        width: 100%;
    }
/* CTA  */

.green-cta > .logo-design-page-secion2-content-wrapper h2:nth-child(2){
    color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#6CFF6C;
}

.green-cta  input {
    background-color: transparent;
    outline: 0;
    border: 3px #6CFF6C solid;
    color: white;
    padding-left: 15px;
}
.green-cta  button {
    border-color: #6CFF6C;
    background-color: #6CFF6C;
    color: black;
    cursor: pointer;
}


 /* Green Icon box */

 .icon-box-green {
    border: 1px #6CFF6C solid;
  }

  .icon-box-green > h3 {
    color:#6CFF6C;
  }

  /* APP DESIGN SECTION 5  */

  .app-design-section-5-wrapper {
      max-width: 85%;
      margin: 120px auto ;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      grid-gap: 45px;
  }

  .app-design-section-5-wrapper p {
      max-width: 550px;
  }
  
  .app-dev-section-5-title {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-family: 'syne', sans-serif;
  }

  .app-dev-section-5-title > span:not(:first-child) {
    color: #6CFF6C;
    font-size: 3vw;
    font-weight: 900;
}

.app-design-section-5-wrapper img {
    width: 100%;
}

/* APP DESIGN TOOLS */

#app-design-tools-title > span:not(:first-child) {
    color: #6CFF6C
}
/* ---------------------------
SITE FOOTER
--------------------------- */

 /*  SITE FOOTER */

 .footer-outer{
    width: 100%;
    background-image: url('../images/footer\ bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 55px;
}


.footer-title-wrapper{
 max-width: 900px;
 margin: auto;
 text-align: center;
 padding-top: 90px;

}
.footer-title-wrapper > h2 {
    font-family: 'Syne', sans-serif;
    font-size: 54px;
    color: #07BDF0;
   text-transform: uppercase;
}

.footer-link-wrapper {
    max-width: 85%;
    margin: auto;
}

.footer-link-wrapper > hr {
    border: solid 0.3px #fff;
    margin-top: 55px;
}

.footer-link-wrapper a {
   font-family: 'Barlow', sans-serif;
   color: #fff;
}


.footer-link-wrapper h4 {
    font-family: 'Barlow', sans-serif;
    color: #07BDF0;
    font-size: 20px;
 }

.footer-link-wrapper ul {
    list-style: none;
}

.footer-link-wrapper > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    padding-top: 45px;
}

/* ---------------------------------------------------------
-------------TO HIDE AND SHOE ANIMATED IMAGES --------------
----------------------------------------------------------- */
@media only screen and (min-width: 1100PX){
  .img-for-mob{
      display: none;
  }
  .homepage-mobile-hero {
      display: none;
  }
}


/* ---------------------------------------------------------
-------------MEDIAM SCREEN LAPTOP SCREENS ---------------------
----------------------------------------------------------- */
@media (min-width: 1100px) and (max-width: 1600px) {
    .homepage-sec4-image-wrapper > img:nth-of-type(1){
        max-width: 85%;
     }
     .homepage-sec4-image-wrapper > img:nth-of-type(2){
         position: absolute;
         right: 0;
         top: 0;
         margin-right: 45px;
         margin-top: 100px;
         max-width: 180px;
      }
      .homepage-middle-title{
          font-size: 16em;
      }

      .homepage-first-title{
          font-size: 13rem;
      }

      .homepage-third-title{
          font-size: 13rem;
      }

      /* webdesign page */
    

      .seo1-banner-wrapper > div:nth-of-type(1) > h1 > span:nth-of-type(3){
          font-size: 2.5em;
      }

}
